<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.xiudoufang">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.XiuDouFangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.ui.LoginActivity">
        </activity>
        <activity android:name=".base.MainActivity"/>
        <activity android:name=".setting.ui.SettingActivity"/>
        <activity android:name=".setting.ui.StoreSwitchActivity"/>
        <activity android:name=".purchase.ui.PurchaseActivity"/>
        <activity
            android:name=".purchase.ui.SupplierListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".purchase.ui.SupplierDetailsActivity" />
        <activity android:name=".purchase.ui.NewPurchaseOrderActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".purchase.ui.ScanActivity" />
        <activity android:name=".purchase.ui.ProductListActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".purchase.ui.WarehouseListActivity" />
        <activity android:name=".purchase.ui.AddSupplierActivity" />
        <activity android:name=".purchase.ui.AreaListActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".purchase.ui.PurchaseQueryActivity"/>
        <activity android:name=".purchase.ui.PurchaseDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".purchase.ui.ProductDetailsActivity" />
        <activity android:name=".stock.StockActivity"/>
        <activity android:name=".stock.StockQueryActivity"/>
        <activity android:name=".transport.TransportNumActivity"/>
        <activity android:name=".transport.TransportOrderQueryActivity"/>
        <activity android:name=".product.ProductActivity"/>
        <activity android:name=".product.ProductQueryActivity"/>
        <activity
            android:name=".receipt.ui.CustomerListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".receipt.ui.PaymentActivity"/>
        <activity android:name=".check.CheckOrderActivity"/>
        <activity android:name=".check.OrderQueryActivity"/>
        <activity android:name=".open.OpenBillActivity"/>
        <activity android:name=".purchase.ui.SupplierDetailsActivity"/>
    </application>

</manifest>